<div class="container">

    <h5>Кто такой автор</h5>
    <h5>Для чего становиться автором</h5>
    <h5>Как стать авторм </h5>
    <h5>Как напсать свой первый блог</h5>


    <h4>Кто такой автор</h4>
    <p>В наше время авторо может стать абсолютно любой человек имеющий ноутбук,компютер или же просто телефон. Автор своего блога - это человек который хочет поделится с окружающими свим опытом переживаниями или же просто написать интересный рецепт</p>

    <h4>Для чего становиться автором</h4>
    <ol>
        <li>
            Написать пост&nbsp;— значит как следует разложить всё по&nbsp;полочкам, обобщить опыт и&nbsp;поделиться им&nbsp;с&nbsp;другими. Приносить пользу чертовски приятно, попробуйте.
        </li>
        <li>
            Никогда не&nbsp;угадаешь, кто прочитает ваш пост. Часто это&nbsp;те, кто разбирается в&nbsp;вопросе на&nbsp;голову лучше вас. Фидбэк от&nbsp;таких людей&nbsp;— возможно, самое ценное, что вы&nbsp;приобретете.
        </li>
        <li>
            Ваши публикации&nbsp;— это ваша репутация. Они лучше резюме расскажут, кто&nbsp;вы, чем занимаетесь и&nbsp;в&nbsp;чем разбираетесь.
        </li>
        <li>
            За&nbsp;первый крутой пост вы&nbsp;получите полноправный аккаунт и&nbsp;плюс в&nbsp;карму.
        </li>
        <li>
            В&nbsp;дальнейшем за&nbsp;статьи с&nbsp;высоким рейтингом по&nbsp;профильным темам мы&nbsp;можем поощрять материально. Для этого на&nbsp;есть Программа поощрения авторов.
        </li>
    </ol>

    <h4>Как стать авторм </h4>

    <h4>Как напсать свой первый блог</h4>
    <p>для того чтобы стать автором необходимо:</p>
    <h6>1 Пройти регистрацию</h6>
    <h6>2 Выбрать интересную тему</h6>
    <h6>3 Написать блог</h6>

    <p>На случай, если вы не знаете, как подступиться к тому или иному формату, мы написали короткие гайды, о том, как сделать ваши материалы полезными и оформить так, чтобы было удобно читать.</p>
</div>