<div>
    <h4>Как создать блог</h4>
    <h5>О контент редакторе</h5>
    <p>Контент редактор имеет в своем составе несколько базовых элементов таких как заголовки и различные настройки шрифта.</p>
    <h5>как использовать</h5>
    <p>Для того чтобы воспользоватся вспомогоательным элементом нужно навести и нажать на нужный элемент после чего готовая HTML разметка всавится в поле с основным текстом</p>
    <p class="bg-warning">Важно: при обработке из текста блога будут удалены все лишние пробелы, поэтому для позиционрования необходимо использовать вспомогательные элементы.</p>
</div>
