@model Blog.Models.User

<form asp-action="EditPhone" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="text-center">
        <input class="bg-swap" asp-for="PhoneNumber" />
        <input class="btn bg-swap" type="submit" value="Save" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}