@model Blog.ViewModels.AccountVM.ChangePasswordNonAuthoriseGetEmail


<div class="col-12">

    <div id="login" class="text-white simple-login-container card-body w-media mx-auto bg-dark mt-5" style="width:22rem">
        <h2>Авторизация</h2>
        <form method="post" asp-controller="Account" asp-action="SendEmailMessageforChangePass">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Email" class="input-group-text bg-swap input-group" type="email" />
                <span asp-validation-for="Email"></span>
            </div>
            <input type="submit" value="Отправить" />
        </form>
        <p class="text-white">Нет аккаунта?<a asp-controller="Account" asp-action="Register">Зарегистрироватся</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</div>

