<div class="text-center">
    <h3>Простите но для устройств с такой шириной экрана не предусмотрн удобный редактор блогов</h3>
    <img src="~/StateImage/GlossyImpishFrilledlizard-max-1mb.gif" class="w-75">
</div>