<div class="bg-info text-white w-100">
    <div class="col-12 p_l_and_r_none">
        <h5 style="margin-top:40px" class="input-group">Вспомогательные элементы</h5>
    </div>
</div>
<div class="col-12 mb-5 p_l_and_r_none">
    <a asp-area="" class="btn input-group bg-white border-dark" asp-controller="Home" asp-action="Info">Как использовать</a>
</div>

<!--Заголовки-->
<div class="col-12 p_l_and_r_none">
    <div class="dropdown input-group">
        <button class=" bg-dark btn input-group text-white" style="border-left:1px solid #0d8bf2">
            Заголовки
        </button>
        <div class="dropdown-content">
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value+='<h2>Ваш текст здесь </h2>'; return false;"><h2>Заголовок</h2></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<h3>ваш текст здесь </h3>'; return false"><h3>Заголовок</h3></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<h4>ваш текст здесь </h4>'; return false"><h4>Заголовок</h4></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<h5>ваш текст здесь </h5>'; return false"><h5>Заголовок</h5></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<h6>ваш текст здесь </h6>'; return false"><h6>Заголовок</h6></button>
        </div>
    </div>
</div>

<hr class="mb-5 mt-5" />
<!--Начертания-->
<div class="col-12  p_l_and_r_none">
    <div class="dropdown input-group">
        <button class=" bg-dark w-100 btn input-group text-white" style="border-left:1px solid #0d8bf2">
            Начертания
        </button>
        <div class="dropdown-content">
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value+='<b>Ваш текст здесь </b>'; return false;"><b>Текст</b></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<i>ваш текст здесь </i>'; return false"><i>Текст</i></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<em>ваш текст здесь </em>'; return false"><em>Текст</em></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<small>ваш текст здесь </small>'; return false"><small>Текст</small></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<strong>ваш текст здесь </strong>'; return false"><strong>Текст</strong></button>
            <button type="submit" class="btn input-group" onclick="document.getElementById('text').value += '<sub>ваш текст здесь </sub>'; return false"><sub>Текст</sub></button>
        </div>
    </div>
</div>
