@model Blog.ViewModels.FindViewModel



<div class="col-md-8">
    <div class="container">
        <form asp-controller="ArticleModel" asp-action="Find" class="price_range">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="input-group">
                <input type="text" class="form-control bg-dark text-white" placeholder="Название" asp-for="SearshString" >
                <div class="katuloned-wrap">
                    <label class="" for="checkbox">
                        <div class="btn open bg-dark text-white">Расширенный поиск</div>
                    </label>
                </div>
                <input class="text-white btn bg-dark animate border" type="submit" style="height:38px"value="Поиск">
            </div>

            @*panel*@
            <input type="checkbox" id="checkbox">
            <div class="kulveniam bg-dark">
                <label class="kulveniam-btn-close" for="checkbox">+</label>

                @* Tags *@
                <h4>Поиск по тегам</h4>
                <div class="row align-items-start">
                    <div class="input-group mb-3">
                        <input type="text" class=" input-group btn-outline-secondary bg-dark btn text-white" placeholder="Теги" aria-describedby="button-addon2" name="TagsString">
                    </div>
                </div>
                @* DateTime *@
                <h4>Поиск по Дате</h4>
                <div class="input-group">

                    <input type="datetime-local" class="input-group" id="Test_DatetimeLocal" asp-for="FirstDate">
                    <p>До</p>
                    <input type="datetime-local" class="input-group" id="Test_DatetimeLocal" asp-for="SecondDate">
                </div>

                @* Category *@
                <h4>Поиск по Категории</h4>
                <div class="">
                    <div class="dropdown ">
                        <button class="end_price btn-outline-secondary input-group bg-dark btn btnd border w-100 ">Категория</button>
                        <div class="dropdown-content">
                            @if (ViewBag.CategoryListCount < 10)
                            {
                                foreach (var x in ViewBag.CategoryList)
                                {
                                    <a class="p-2 link-secondary" asp-controller="ArticleModel" asp-action="Find" asp-route-SelectedCategory="@x.Id">@x.Title</a>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                @if (Model.ArticleModels != null)
                {
                    @foreach (var x in Model.ArticleModels)
                    {
                        @await Html.PartialAsync(@"Patrial/BlogComponent.cshtml", x)
                    }
                }
            else
            {
                
            }

            </div>
        </form>

        @*sidebar*@

    </div>
</div>

<div class="col-md-4">
    @*@await Html.PartialAsync(@"Patrial/SidebarPartial.cshtml")*@
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}