<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync(@"Partials\MetaTegsPartial.cshtml")
    <title>@ViewData["Title"] - Blog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body onload="ReturnWidth()">
    @await Html.PartialAsync(@"Partials\HeaderPartial.cshtml")
        <main role="main" class="pb-3">
            <div class="container">
                <div class=" row">
                    
                        @RenderBody()
                    @*<div class="col">

                    </div>*@
                </div>
            </div>
        </main>

    @await Html.PartialAsync(@"Partials\FoterPartial.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
    <script src="~/js/site.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
