<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync(@"Partials\MetaTegsPartial.cshtml")
    <title>@ViewData["Title"] - Blog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @if (User.Identity.IsAuthenticated)
    {
        var user = await _UserManager.FindByNameAsync(User.Identity.Name);
        <link href="~/css/@string.Concat(user.ThemeCode,"Theme.css")" rel="stylesheet" /> }
    else
    {
        <link href="~/css/BaseTheme.css" rel="stylesheet" />
    }

</head>
<body onload="ReturnWidth()">
    @await Html.PartialAsync(@"Partials\HeaderPartial.cshtml")
        <main role="main" class="pb-3">
            <div class="container">
                <div class=" row">
                    
                        @RenderBody()
                    @*<div class="col">

                    </div>*@
                </div>
            </div>
        </main>

    @await Html.PartialAsync(@"Partials\FoterPartial.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required: false)

</body>
</html>
