@model IEnumerable<Blog.Models.Category>
    <div class="text-center">
        @foreach (var x in Model)
        {
            <label class="input-group text-info">@x.Title  Оеисание: @x.Description</label>
        }
    </div>
